<div class="container">
		<div class="row">
		<div class="col-md-12">

		<nav class="navbar navbar-inverse bg-dark">
		    <div class="container-fluid">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Mongo Scraper</a>
			    </div>
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="/">Home</a></li>
				    <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a></li>
			    </ul>
		    </div>
		</nav>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center">
				  <div class="overlay">
				  </div>
				  <div class="background-image">
				  </div>
				  <div class="caption">
				    <h1>Mongo Scraper</h1>
				    <p>New York Times Edition</p>
				  </div>
			</div>
		</div>
	</div>

{{#each news}}
<div class="jumbotron jumbotron-fluid" id="article">
  <div class="container" data-id={{this._id}}>
    <a class="display-5" href={{this.link}}>{{this.title}}</a>
  </div>
</div>
{{/each}}

{{#each comment}}
<div class="modal" tabindex="-1" role="dialog" id="comment">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{this.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{this.body}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{/each}}


</div>
<footer>
	<div class="container">
		<p>CNN News Mongo Scraper</p>
	</div>
</footer>

